
main {
  font-family: 'Anton', sans-serif;
}

body { 
  font-family: 'Bungee Inline', cursive;
  margin: 0rem;
  background-image: url(../src/assets/img/pexels-dee-dave-8018079.jpg); 
  background-position: center center;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App {
  animation: spin 10s linear infinite;
}
.App {
  text-align: center;
}
.App {
  animation: App-logo-spin infinite 50s ease-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
